*{
  margin: 0;
  padding: 0;
}

header{
  background:blue;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

ul{
  float: right;
  list-style-type: none;
  padding-top: 40px;
  padding-right: 40px;
}
ul li{
  display:inline-block;
  background-color: orange;
  padding: 2px;
}
ul li a{
  text-decoration:none;
  color: black;
  padding: 5px 20px;
  border: 1px solid #fff;
}
ul li a:hover{
  background-color: yellow;
  color: #000;
}
